

body {
    margin: 4.5rem 0 0 0;
    font-family: 'Righteous', cursive;
    font-weight: 500;
    background-color: antiquewhite;
    color: black;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    height: 4.5rem;
    width: 100%;
    box-shadow: 0 2px 2px rgba(0,0,0,.1);
    z-index: 100;
}

.header-container {
    margin-left: 4rem;
    margin-right: 4rem;
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}

.header-logo a {
    font-size: 2rem;
    font-weight: 700;
    color: #c3195d;
    text-decoration: none;
    font-family: 'Calligraffitti', cursive;
}

.nav-menu {
    float: right;
}

.nav-list {
    list-style: none;
    display: flex;
    gap: 10px;
}

.nav.item {
    margin: 0 2rem;
}

.nav-link {
    text-decoration: none;
    font-size: 1.4rem;
    color: #c3195d;
    position: relative;
    overflow: hidden;
    display: block;
    letter-spacing: .3rem;
}

.first {
    position: absolute;
    transform: translateY(100%);
    transition: all .3s linear;
}

.nav-link:hover .first,
.nav-link.activ .first {
    transform: translateY(0);
}

.second {
    position: relative;
    display: block;
    transition: all .3s linear;
}

.nav-link:hover .second,
.nav-link.activ .second {
    transform: translateY(-100%);
}

.photos {
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6rem;
    color: #c3195d;
    border-top: 3px #c3195d;
}


.location, .gifts, .contact, .thanks {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6rem;
    color: #c3195d;
}

.section-couple {
    font-size: 2rem;
    color: #c3195d;
}

.h1-couple {
    text-align: center;
}

.join {
    font-size: 5rem;
}

.celebrate {
    font-size: 3rem;
    font-family: 'Lumanosimo', cursive;
}

.holy {
    font-size: 5rem;
    font-family: 'Calligraffitti', cursive;
}

.oge, .tobe {
    border-radius: 50px;
    border: 2px solid #c3195d;
    width: 400px;
    margin: 30px 10px;
    font-size: 30px;
    padding: 30px;
    height: 290px;
    transition:  .6s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: white;
}

.vowName {
    font-weight: 800;
    font-size: 50px;
}
.oge:hover, .tobe:hover {
    cursor: pointer;
    margin: 50px;
    background-color: white;
}

section:nth-of-type(even) {
    background-color: #ffff;
}

.wrapper {
    display: flex;
    max-width: 1200px;
    position: relative;
}

.wrapper i {
    top: 50%;
    height: 44px;
    width: 44px;
    color: #343F4F;
    cursor: pointer;
    font-size: 1.15rem;
    position: absolute;
    text-align: center;
    line-height: 44px;
    background: #c3195d;
    border-radius: 50%;
    transform: translateY(-50%);
    transition: transform 0.1s linear;
}

.wrapper i:active {
    transform: translateY(-50%) scale(0.9);
}

.wrapper i:hover {
    background: #581731;
}

.wrapper i:first-child {
    left: -22px;
    display: none;
}

.wrapper i:last-child {
    right: -22px;
}

.wrapper .carousel {
    font-size: 0px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
    border-top:solid 6px #c3195d;
    border-bottom:solid 6px #c3195d;
    padding: 50px;
    margin: 100px;
}

.carousel.dragging {
    cursor: grab;
    scroll-behavior: auto;
}

.carousel.dragging img {
    pointer-events: none;
}

img {
    height: 500px;
    object-fit: cover;
    user-select: none;
    margin: 10px;
    width: 500px;
}


.carousel img:first-child {
    margin-left: 0px;
}

.vow {
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: center;
    gap: 10px;
}

@media screen and (max-width: 900px) {
    .carousel img {
        width: calc(100% / 2);
    }
}

@media screen and (min-width: 300px) and (max-width: 490px) {
    body {
        width: 100%;
    }
    .header {
        display: flex;
        flex-direction: row;
        height: 250px;
    }
    
    .header-container {
      flex-direction: row;
      margin: 5px;
      margin: 1px;
      width: fit-content;
    }
    
    .header-logo a {
        font-size: 1.8rem;
        width: 200px;
        margin: 0 10px;
    }
    .carousel img {
        width: calc(100% / 2);
    }
    .nav-menu {
        float:none;
        display: flex;
    }
    
    .nav-list {
        flex-direction: column;
        align-items: flex-end;
    }
    
    .section-couple {
        width: 100%;
        margin: 150px 6px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .location, .gifts, .contact, .thanks {
       flex-direction: column;
        font-size: 4rem;
        width: 100%;
        background-color: white;
        padding: 5px;
        align-items: flex-start;
    }

    .join {
        text-align: center;
        align-items: center;
    }
    
    .celebrate {
        font-size: 2.7rem;
        font-family: 'Lumanosimo', cursive;
    }
    
    .holy {
        font-size: 2.5rem;
        font-family: 'Calligraffitti', cursive;
    }

    .vow {
        flex-direction: column;
    }
   .oge, .tobe {
        width: 320px;
        margin: 10px;
        padding: 10px;
    }

    .wrapper {
        width: 100%;

    }
    .wrapper i{
        margin: 30px;
    }

   
    .carousel img {
        height: 300px;
        width: calc(100%/ 1);
    }
    
    .wrapper .carousel {
        height: 300px;
        margin: 1px;
        width: 100%;
    }
    .photos {
        padding: 20px 3px;
        height: 400px;
        width: 100%;
    }
}
